@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("../css/animate.css");
body {
  background-color: #fff;
  font-family: "Lato", sans-serif !important;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

/*   normalize  */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

.btn.btn-primary {
  height: 48px !important;
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
  font-weight: 600 !important;
  border-radius: 12px !important;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 15px 17px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary:hover {
  background-color: #000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary:focus {
  background-color: #000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-plane {
  -webkit-mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  width: 25px;
  height: 23px;
}

.custom-checkbox {
  padding-left: 30px;
}

.custom-checkbox .custom-control-label {
  font-weight: 400;
  color: #333;
  font-size: 16px;
  line-height: 17px;
}

.custom-checkbox .custom-control-label::before {
  top: 7px;
  width: 20px;
  height: 20px;
  left: -30px;
}

.custom-checkbox .custom-control-label::after {
  top: 7px;
  width: 20px;
  height: 20px;
  left: -30px;
}

.custom-checkbox .custom-control-label a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: #000;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000;
  border-color: #000;
}

/* ############################ header section ############################### */
.fixed-top {
  background-color: #fff !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.header {
  height: 90px;
  position: relative;
}

.header .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  background-color: transparent;
  white-space: nowrap;
  z-index: 999;
}

.header .navbar .navbar-brand {
  width: 142px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .collapse1 {
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .collapse1 .navbar-nav .nav-item a {
  color: #000;
  font-size: 16px;
  line-height: 32px;
  padding: 8px 22px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(0, 0, 0, 0.7);
}

.header .navbar .collapse1 .navbar-nav .nav-item a.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(0, 0, 0, 0.7);
}

.header .navbar .collapse1 .navbar-nav .nav-btn {
  padding-left: 80px !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn a.btn {
  font-size: 16px;
  min-height: 30px;
  line-height: 22px;
  border-radius: 4px;
  padding: 8px 20px;
  color: #fff;
}

/* menu responsive */
.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #333;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #dadada;
  height: 48px;
  background-color: #fff;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  padding: 14px 16px;
  border-radius: 12px;
}

.form-group .form-control:focus {
  border-color: #000;
  color: #000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #333 transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */
.inner-page {
  padding-top: 0;
}

.middle-section {
  height: auto;
}

.middle-section .home-banner-section {
  padding: 100px 0 50px 0;
  background-color: #fff;
  height: auto;
  overflow: hidden;
  position: relative;
}

.middle-section .home-banner-section::after {
  content: "";
  position: absolute;
  bottom: -240px;
  right: -200px;
  background-image: url("../images/bg-home-banner.png");
  background-size: cover;
  display: block;
  height: 1053px;
  width: 1890px;
  z-index: 1;
  zoom: 100%;
}

.middle-section .home-banner-section::before {
  content: "";
  position: absolute;
  top: -165px;
  left: -180px;
  background-image: url("../images/bg-home-banner-3.png");
  background-size: cover;
  background-position: center;
  display: block;
  height: 608px;
  width: 570px;
  z-index: 1;
}

.middle-section .home-banner-section .home-banner-inner {
  padding: 60px 0 0 0;
}

.middle-section .home-banner-section .banner-caption {
  padding: 40px 0 0 0;
  margin-bottom: 30px;
  position: relative;
  z-index: 7;
}

.middle-section .home-banner-section .banner-caption h3 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 32px;
}

.middle-section .home-banner-section .banner-caption h2 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 48px;
}

.middle-section .home-banner-section .banner-caption h2 .block {
  width: 100%;
  display: block;
}

.middle-section .home-banner-section .banner-box {
  padding: 40px 100px 0 150px;
  margin-bottom: 130px;
}

.middle-section .home-banner-section .banner-box .banner-box-inner {
  position: relative;
}

.middle-section .home-banner-section .banner-box .banner-box-inner .box-cycle {
  position: absolute;
  right: -100px;
  top: 0;
  z-index: 7;
  height: 176px;
  width: 170px;
  -webkit-box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
          box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
  border-radius: 12px;
}

.middle-section .home-banner-section .banner-box .banner-box-inner .box-map-pin {
  position: absolute;
  right: -30px;
  bottom: -30px;
  z-index: 7;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-shadow: 5px 10px 30px 0 rgba(138, 138, 138, 0.15);
          box-shadow: 5px 10px 30px 0 rgba(138, 138, 138, 0.15);
}

.middle-section .home-banner-section .banner-box .banner-box-inner .box-map-pin a {
  display: block;
  height: 100%;
  width: 100%;
}

.middle-section .home-banner-section .banner-box .banner-box-inner .box-map-pin a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .home-banner-section .banner-box .banner-box-inner .box-helmet {
  position: absolute;
  left: -130px;
  bottom: -120px;
  z-index: 5;
  -webkit-box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
          box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
  width: 270px;
  height: 224px;
  border-radius: 12px;
}

.middle-section .home-banner-section .banner-box .banner-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.middle-section .home-banner-section .banner-box .banner-img img {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  -webkit-box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
          box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
}

.middle-section .home-banner-section .banner-box .banner-img::after {
  content: "";
  position: absolute;
  bottom: 80px;
  right: -50px;
  background-image: url(../images/shap-2.svg);
  background-size: contain;
  background-position: center;
  display: block;
  height: 52px;
  width: 188px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 6;
}

.middle-section .home-banner-section .banner-box .banner-img::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -80px;
  background-image: url(../images/shap-1.svg);
  background-size: contain;
  background-position: center;
  display: block;
  height: 116px;
  width: 188px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .home-banner-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  position: relative;
  z-index: 9;
}

.middle-section .home-banner-section .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.middle-section .home-banner-section .social-media ul li {
  display: inline-block;
  margin-right: 15px;
}

.middle-section .home-banner-section .social-media ul li:last-child {
  margin-right: 0;
}

.middle-section .home-banner-section .social-media ul li a {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #000;
  border: 1px solid rgba(180, 180, 180, 0.26);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.middle-section .home-banner-section .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #000;
  background-color: #fafafa;
}

.middle-section .connecting-section {
  padding: 130px 0 77px 0;
  background-color: #fafafa;
}

.middle-section .connecting-section .heading {
  margin-bottom: 130px;
}

.middle-section .connecting-section .heading h2 {
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.middle-section .learn-how-section {
  padding: 195px 0 240px 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.middle-section .learn-how-section::before {
  content: "";
  position: absolute;
  top: 200px;
  right: -80px;
  background-image: url(../images/circle-1.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 238px;
  width: 234px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .learn-how-section::after {
  content: "";
  position: absolute;
  bottom: -170px;
  left: -260px;
  background-image: url(../images/patter-owl.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 436px;
  width: 436px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .learn-how-section .learn-feature-img {
  position: relative;
}

.middle-section .learn-how-section .learn-feature-img .box-map {
  position: absolute;
  right: -120px;
  top: 106px;
  z-index: 7;
}

.middle-section .learn-how-section .learn-feature-img .box-coffee {
  position: absolute;
  left: -50px;
  bottom: 20px;
  z-index: 7;
}

.middle-section .learn-how-section .learn-how-img {
  padding: 0 90px 0 40px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.middle-section .learn-how-section .learn-how-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.middle-section .learn-how-section .learn-how-img::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -20px;
  background-image: url(../images/shap-1.svg);
  background-size: contain;
  background-position: center;
  display: block;
  height: 116px;
  width: 188px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .learn-how-section .learn-how-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.middle-section .learn-how-section .learn-how-text .content {
  padding: 0 100px;
}

.middle-section .learn-how-section .learn-how-text .content h2 {
  font-size: 48px;
  line-height: 58px;
}

.middle-section .learn-how-section .learn-how-text .content p {
  color: rgba(51, 51, 51, 0.5);
}

.middle-section .app-store-section {
  background-color: #000;
  padding: 25px 0 0 0;
  overflow: hidden;
}

.middle-section .app-store-section .store-content {
  max-width: 300px;
}

.middle-section .app-store-section .store-content .logo-app {
  margin: 5px 0 10px 0;
  width: 167px;
  height: auto;
  margin-bottom: 10px;
}

.middle-section .app-store-section .store-content .logo-app img {
  width: 100%;
}

.middle-section .app-store-section .store-content h2 {
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  margin-bottom: 33px;
}

.middle-section .app-store-section .store-content h2 span {
  display: block;
}

.middle-section .app-store-section .store-content .download-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-section .app-store-section .store-content .download-app a {
  display: block;
  margin-right: 10px;
}

.middle-section .app-store-section .store-content .download-app a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.middle-section .app-store-section .app-images .app-image-inner {
  position: relative;
}

.middle-section .app-store-section .app-images .app-image-inner::before {
  content: "";
  position: absolute;
  bottom: -180px;
  left: 0;
  background-image: url(../images/pattern-owl-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 238px;
  width: 234px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .app-store-section .app-images .app-mobile {
  max-width: 354px;
  margin: 0 auto;
  position: relative;
}

.middle-section .app-store-section .app-images .app-mobile img {
  width: 100%;
  z-index: 2;
  position: relative;
}

.middle-section .app-store-section .app-images .app-mobile::after {
  content: "";
  position: absolute;
  top: 80px;
  left: -80px;
  background-image: url(../images/shape-white.svg);
  background-size: contain;
  background-position: center;
  display: block;
  height: 116px;
  width: 188px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .app-store-section .app-images .app-mobile::before {
  content: "";
  position: absolute;
  bottom: 23px;
  right: -110px;
  background-image: url(../images/circle-2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 238px;
  width: 234px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .page-heading-section {
  padding-top: 145px;
  padding-bottom: 25px;
  position: relative;
  overflow: hidden;
}

.middle-section .page-heading-section::before {
  content: "";
  position: absolute;
  top: -165px;
  left: -180px;
  background-image: url(../images/bg-home-banner-3.png);
  background-size: cover;
  background-position: center;
  display: block;
  height: 608px;
  width: 570px;
  z-index: 1;
}

.middle-section .page-heading-section .heading h2 {
  font-size: 48px;
  color: #000;
  line-height: 80px;
  text-align: center;
}

.middle-section .submit-form-section {
  padding: 90px 0 90px 0;
  background-color: #fff;
  overflow: hidden;
}

.middle-section .submit-form-section .form-conatiner {
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 115px 50px;
  position: relative;
}

.middle-section .submit-form-section .form-conatiner::after {
  content: "";
  position: absolute;
  bottom: 35%;
  left: -80px;
  background-image: url(../images/shap-1.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 116px;
  width: 188px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 6;
}

.middle-section .submit-form-section .form-conatiner .filtter-box {
  position: absolute;
  top: 170px;
  left: -65px;
  width: 138px;
  height: 128px;
  -webkit-box-shadow: 10px 20px 40px 0 rgba(90, 17, 0, 0.2);
          box-shadow: 10px 20px 40px 0 rgba(90, 17, 0, 0.2);
}

.middle-section .submit-form-section .form-conatiner .map-box {
  position: absolute;
  top: 45%;
  right: -85px;
  width: 170px;
  height: 160px;
  -webkit-box-shadow: 10px 20px 40px 0 rgba(90, 17, 0, 0.2);
          box-shadow: 10px 20px 40px 0 rgba(90, 17, 0, 0.2);
}

.middle-section .submit-form-section .form-conatiner .form-heading {
  text-align: center;
  margin-bottom: 60px;
}

.middle-section .submit-form-section .form-conatiner .form-heading h2 {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 22px;
  color: #000;
}

.middle-section .submit-form-section .form-conatiner .form-heading p {
  color: rgba(51, 51, 51, 0.5);
}

.middle-section .submit-form-section .form-conatiner .form-body .form-group label {
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}

.middle-section .submit-form-section .form-conatiner .terms {
  margin-bottom: 30px;
}

.middle-section .what-you-get-section {
  padding: 60px 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.middle-section .what-you-get-section::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -160px;
  background-image: url(../images/ring-pattern.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 218px;
  width: 218px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .what-you-get-section .heading {
  text-align: center;
  margin-bottom: 53px;
}

.middle-section .what-you-get-section .heading h2 {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 22px;
  color: #000;
}

.middle-section .what-you-get-section .heading p {
  color: rgba(51, 51, 51, 0.5);
}

.middle-section .what-you-get-section .featuredbox {
  padding: 32px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 20px;
}

.middle-section .what-you-get-section .featuredbox .featured-icon {
  background: #000;
  border-radius: 8px;
  height: 96px;
  width: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin-bottom: 26px;
}

.middle-section .what-you-get-section .featuredbox .featured-icon img {
  width: 100%;
}

.middle-section .what-you-get-section .featuredbox h3 {
  color: #333;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 32px;
  min-height: 64px;
}

.middle-section .what-you-get-section .featuredbox p {
  color: rgba(51, 51, 51, 0.5);
}

.modal-custom .modal-dialog {
  max-width: 1200px !important;
  border-radius: 0;
}

.modal-custom .modal-dialog .modal-content {
  border-radius: 0;
}

.modal-custom .modal-dialog .modal-body {
  padding: 0;
}

.modal-custom .modal-dialog .modal-body .row-0 {
  margin: 0;
}

.modal-custom .modal-dialog .modal-body .row-0 .pad-0 {
  padding: 0;
}

.modal-custom .modal-dialog .modal-body .info-section {
  background-color: #000;
  padding: 81px 80px 100px 160px;
  height: 100%;
}

.modal-custom .modal-dialog .modal-body .info-section .back-btn {
  display: none;
}

.modal-custom .modal-dialog .modal-body .info-section .info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-header .header-profile {
  margin-right: 10px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-header .header-profile img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-custom .modal-dialog .modal-body .info-section .info-header p {
  color: #fff;
  margin-bottom: 0;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 5px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 35px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .price h2 {
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  letter-spacing: 0.9px;
  margin-right: 35px;
  margin-bottom: 0;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .price p {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .price p span {
  display: block;
  margin-bottom: 0;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-img {
  height: 43px;
  min-width: 43px;
  width: 43px;
  border-radius: 4px;
  overflow: hidden;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content {
  width: 100%;
  padding: 0 20px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .product-total {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .product-total h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .product-total p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 19px;
  font-size: 14px;
  margin-bottom: 0;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .product-subtotal {
  padding: 0 0 12px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .product-subtotal h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .sale-tax {
  padding: 0 0 12px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .sale-tax h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .tax-due {
  padding: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .tax-due h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode {
  padding: 20px 0;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group {
  margin-bottom: 0;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  outline: none;
  border: 0;
  color: #fff;
  max-width: 165px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.35px;
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal-custom .modal-dialog .modal-body .payment-section {
  background-color: #fff;
  padding: 27px 155px 10px 70px;
}

.modal-custom .modal-dialog .modal-body .payment-section .apple-pay {
  width: 100%;
  margin-bottom: 35px;
}

.modal-custom .modal-dialog .modal-body .payment-section .apple-pay a {
  font-size: 18px;
  line-height: 24px;
}

.modal-custom .modal-dialog .modal-body .payment-section .apple-pay a i {
  color: #fff;
}

.modal-custom .modal-dialog .modal-body .payment-section .or-text {
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
}

.modal-custom .modal-dialog .modal-body .payment-section .or-text span {
  background-color: #fff;
  z-index: 2;
  padding: 5px 5px;
  position: relative;
  color: rgba(51, 51, 51, 0.5);
}

.modal-custom .modal-dialog .modal-body .payment-section .or-text::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  top: 18px;
  background-color: rgba(51, 51, 51, 0.2);
  z-index: 0;
}

.modal-custom .modal-dialog .modal-body .payment-section .bg-cvv {
  position: relative;
}

.modal-custom .modal-dialog .modal-body .payment-section .bg-cvv::before {
  content: '';
  background-image: url("../images/cvv.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 10px;
  top: 13px;
  width: 32px;
  height: 20px;
  z-index: 99;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .form-group .form-control:focus {
  border-color: #dadada;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .card-place {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .card-place a {
  width: 32px;
  height: 22px;
  display: block;
  margin-right: 3px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .form-control {
  border-radius: 10px 10px 0 0;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .group-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -1px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .group-control .form-control {
  border-radius: 0 0 10px 10px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .group-control .form-control:first-child {
  border-radius: 0 0 0 10px;
  margin-right: -1px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .group-control .form-control:last-child {
  border-radius: 0 0 10px 0;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .address-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .address-group .form-control {
  border-radius: 10px 10px 0 0;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .address-group .group-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -1px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .address-group .group-control .form-control {
  border-radius: 0 0 0 0;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .select-country .select2-container--default .select2-selection--single .select2-selection__rendered {
  border-radius: 12px 12px 0 0;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .select-country .select2-container--default .select2-selection--single {
  border-radius: 12px 12px 0 0 !important;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .select-state {
  margin-top: -1px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .select-state .select2-container--default .select2-selection--single .select2-selection__rendered {
  border-radius: 0 0 12px 12px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .select-state .select2-container--default .select2-selection--single {
  border-radius: 0 0 12px 12px !important;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .subscribe {
  margin-bottom: 15px;
}

.modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .note p {
  color: rgba(51, 51, 51, 0.8);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.modal-custom .modal-dialog .modal-body .thankyou-box {
  padding: 100px 0;
  max-width: 485px;
  text-align: center;
  margin: 0 auto;
}

.modal-custom .modal-dialog .modal-body .thankyou-box .img-box {
  width: 100%;
  height: 300px;
  margin-bottom: 60px;
}

.modal-custom .modal-dialog .modal-body .thankyou-box .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-custom .modal-dialog .modal-body .thankyou-box .content {
  max-width: 380px;
  text-align: center;
  margin: 0 auto 90px auto;
}

.modal-custom .modal-dialog .modal-body .thankyou-box .content h3 {
  font-size: 28px;
  line-height: 34px;
  color: #000;
  letter-spacing: 0.35px;
  font-weight: 700;
  margin-bottom: 18px;
}

.modal-custom .modal-dialog .modal-body .thankyou-box .content p {
  color: #939393;
  font-size: 20px;
  line-height: 32px;
}

.modal-custom .modal-dialog .modal-body .thankyou-box .go-home {
  max-width: 380px;
  margin: 0 auto;
}

/*  middle section end here */
.footer-section {
  padding: 58px 0 0 0;
  background-color: #000;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-section hr {
  margin: 30px 0 0 0;
  border-color: rgba(255, 255, 255, 0.2);
}

.footer-section .footer-line-one {
  border-color: rgba(226, 226, 226, 0.21);
  margin: 0 0 40px 0;
}

.footer-section .footer-content-logo .logo-footer {
  margin-bottom: 40px;
  margin-top: 10px;
}

.footer-section .footer-content-logo .logo-footer img {
  width: 137px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -3px;
}

.footer-section .footer-content-logo .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 55px;
}

.footer-section .footer-content-logo .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-section .footer-content-logo .social-media ul li {
  display: inline-block;
  margin-right: 5px;
  width: auto;
}

.footer-section .footer-content-logo .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .footer-content-logo .social-media ul li a {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(180, 180, 180, 0.26);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.footer-section .footer-content-logo .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #fff;
  background-color: #000;
}

.footer-section .footer-content-logo p {
  width: 170px;
}

.footer-section .footer-content-link {
  padding: 20px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 20px;
}

.footer-section .footer-content h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.footer-section .footer-content p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 16px;
  line-height: 28px;
  display: inline-block;
  width: 32%;
}

.footer-section .footer-content ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .footer-content .singup-div .form-control {
  border-radius: 12px;
}

.footer-section .copy-right-text {
  padding: 40px 0;
}

.footer-section .copy-right-text .pay-card li {
  display: inline-block;
  margin-right: 10px;
}

.footer-section .copy-right-text .pay-card li a img {
  width: 24px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section .copy-right-text .footer-links-bottom {
  width: auto;
}

.footer-section .copy-right-text .footer-links-bottom li {
  padding: 0 24px;
  display: inline-block;
}

.footer-section .copy-right-text .footer-links-bottom li a {
  color: #fff;
}

.footer-section .copy-right-text .footer-links-bottom li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 22px;
}

.footer-section .copy-right-text .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */
@media (max-width: 320px) {
  .middle-section section.home-banner-section::before {
    left: -323px;
  }
  .middle-section section.home-banner-section .home-banner-inner {
    padding: 30px 0 0 0;
  }
  .middle-section section.home-banner-section .home-banner-inner .banner-caption {
    margin-bottom: 80px;
  }
  .middle-section section.home-banner-section .home-banner-inner .banner-caption h3 {
    margin-bottom: 16px;
    font-size: 45px;
    line-height: 56px;
  }
  .middle-section section.home-banner-section .home-banner-inner .banner-caption h2 {
    margin-bottom: 70px;
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .header .navbar {
    padding: 15px 0;
    z-index: 999;
    height: 75px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 128px;
    height: auto;
    padding: 0;
    position: relative;
    z-index: 9;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    color: #000;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 16px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: rgba(0, 0, 0, 0.4);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: rgba(0, 0, 0, 0.4);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    padding-left: 22px !important;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    top: -24px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 48px;
    width: 48px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
    right: -400px;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  /* middle section start here */
  .middle-section .home-banner-section::before {
    left: -337px;
  }
  .middle-section .home-banner-section::after {
    display: none;
  }
  .middle-section .home-banner-section .home-banner-inner {
    padding: 30px 0 0 0;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-caption {
    margin-bottom: 78px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-caption h3 {
    margin-bottom: 16px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-caption h2 {
    margin-bottom: 100px;
    font-size: 56px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-box {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 150px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-box .banner-box-inner .box-cycle {
    width: 96px;
    height: 99px;
    right: -65px;
    top: -20px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-box .banner-box-inner .box-helmet {
    width: 152px;
    height: 126px;
    left: -80px;
    bottom: -60px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-box .banner-box-inner .box-map-pin {
    width: 45px;
    height: 45px;
    right: -23px;
    bottom: -23px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-box .banner-img {
    width: 210px;
    height: 245px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-box .banner-img::after {
    height: 29px;
    width: 106px;
    bottom: 35px;
    right: -22px;
  }
  .middle-section .home-banner-section .home-banner-inner .banner-box .banner-img::before {
    height: 64px;
    width: 116px;
    top: -25px;
    left: -40px;
  }
  .middle-section .connecting-section {
    padding: 135px 0 0 0;
  }
  .middle-section .connecting-section .heading {
    margin-bottom: 28px;
  }
  .middle-section .connecting-section .heading h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .middle-section .learn-how-section {
    padding: 65px 0 180px 0;
  }
  .middle-section .learn-how-section::before {
    top: 350px;
    right: -100px;
    background-image: url(../images/circle-black-2.svg);
  }
  .middle-section .learn-how-section::after {
    bottom: -286px;
    left: -340px;
  }
  .middle-section .learn-how-section .learn-how-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 60px 0 40px;
  }
  .middle-section .learn-how-section .learn-how-img::before {
    height: 64px;
    width: 116px;
    top: 30px;
    left: 10px;
  }
  .middle-section .learn-how-section .learn-how-img .learn-feature-img .lern-how-inner {
    width: 250px;
    height: 260px;
  }
  .middle-section .learn-how-section .learn-how-img .learn-feature-img .lern-how-inner::after {
    top: 40px;
    left: -40px;
  }
  .middle-section .learn-how-section .learn-how-img .learn-feature-img .box-map {
    width: 95px;
    height: 90px;
    top: 60px;
    right: -55px;
  }
  .middle-section .learn-how-section .learn-how-img .learn-feature-img .box-coffee {
    width: 76px;
    height: 71px;
    left: -30px;
  }
  .middle-section .learn-how-section .learn-how-text {
    padding-top: 150px;
  }
  .middle-section .learn-how-section .learn-how-text .content {
    padding: 0 0;
    max-width: 243px;
  }
  .middle-section .learn-how-section .learn-how-text .content h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .middle-section .app-store-section .store-content {
    max-width: unset;
  }
  .middle-section .app-store-section .store-content .logo-app {
    width: 105px;
  }
  .middle-section .app-store-section .store-content h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
    max-width: 330px;
  }
  .middle-section .app-store-section .store-content .download-app {
    width: 100%;
    margin-bottom: 40px;
  }
  .middle-section .app-store-section .store-content .download-app a.app-store {
    width: 143px;
  }
  .middle-section .app-store-section .app-images .app-mobile::after {
    height: 70px;
    width: 120px;
  }
  .middle-section .app-store-section .app-images .app-mobile::before {
    right: -140px;
  }
  .middle-section .page-heading-section::before {
    left: -337px;
  }
  .middle-section .page-heading-section .heading h2 {
    font-size: 56px;
    color: #000;
    line-height: 64px;
    text-align: left;
  }
  .middle-section .submit-form-section .form-conatiner {
    padding: 100px 20px;
  }
  .middle-section .submit-form-section .form-conatiner::after {
    display: none;
  }
  .middle-section .submit-form-section .form-conatiner .map-box {
    display: none;
  }
  .middle-section .submit-form-section .form-conatiner .filtter-box {
    display: none;
  }
  .footer-section {
    padding-top: 90px;
  }
  .footer-section .footer-content-logo p {
    width: 100%;
  }
  .footer-section .social-media {
    margin-bottom: 55px;
  }
  .footer-section .footer-content ul li {
    width: 48%;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .singup-div {
    margin-bottom: 50px;
  }
  .footer-section .pay-card {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-section .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-bottom ul {
    margin-bottom: 30px;
  }
  .footer-section .footer-bottom p {
    margin-left: 0;
  }
  .modal-custom .modal-dialog {
    margin: 0;
  }
  .modal-custom .modal-dialog .modal-body .payment-section .pay-with-card .group-card .card-place {
    display: none;
  }
  .modal-custom .modal-dialog .modal-body .info-section {
    padding: 32px 30px;
  }
  .modal-custom .modal-dialog .modal-body .info-section .back-btn {
    display: block;
    margin-right: 20px;
  }
  .modal-custom .modal-dialog .modal-body .info-section .back-btn a {
    font-size: 14px;
    color: #fff;
  }
  .modal-custom .modal-dialog .modal-body .info-section .subscribe-plan {
    position: absolute;
    top: 200px;
    left: 0;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body {
    position: relative;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-img {
    height: 120px;
    width: 120px;
    min-width: 120px;
    min-height: 120px;
    margin: 30px auto 150px auto;
    text-align: center;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content {
    padding: 0;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group .form-control {
    max-width: unset;
  }
  .modal-custom .modal-dialog .modal-body .payment-section {
    padding: 30px 30px;
  }
  .modal-custom .modal-dialog .modal-body .thankyou-box {
    height: 100vh;
    padding: 0;
    margin: 0;
    max-width: unset;
  }
  .modal-custom .modal-dialog .modal-body .thankyou-box .img-box {
    margin-bottom: 60px;
    height: auto;
  }
  .modal-custom .modal-dialog .modal-body .thankyou-box .content {
    max-width: unset;
    padding: 0 50px;
  }
  .modal-custom .modal-dialog .modal-body .thankyou-box .content h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .modal-custom .modal-dialog .modal-body .thankyou-box .go-home {
    max-width: unset;
    padding: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 8px;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 30px !important;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn a.btn {
    padding: 12px 20px !important;
  }
}

@media (min-width: 996px) and (max-width: 1024px) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 15px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 40px !important;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn a {
    padding: 12px 60px !important;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 142px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-left: 0 !important;
    width: 100%;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    color: #000;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: rgba(0, 0, 0, 0.4);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: rgba(0, 0, 0, 0.4);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    padding-left: 22px !important;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    top: -17px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
    right: -400px;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .middle-section .home-banner-section::after {
    zoom: 80%;
  }
  .middle-section .home-banner-section .banner-caption {
    max-width: 400px;
    margin: 0 auto 100px auto;
  }
  .middle-section .home-banner-section .banner-box {
    margin: 0 80px;
    margin-bottom: 160px;
  }
  .middle-section .learn-how-section::before {
    top: auto;
    bottom: 280px;
  }
  .middle-section .learn-how-section .learn-how-img {
    margin: 0 80px;
  }
  .middle-section .learn-how-section .learn-how-text {
    padding-top: 150px;
  }
  .middle-section .app-store-section .store-content {
    max-width: 600px;
    margin: 0 auto 50px auto;
  }
  .middle-section .what-you-get-section .featuredbox h3 {
    min-height: 0;
  }
  .middle-section .submit-form-section .form-conatiner {
    margin: 0 100px;
  }
  .footer-section .footer-content ul li {
    width: 49%;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
  .modal-custom .modal-dialog {
    margin: 20px 20px;
  }
  .modal-custom .modal-dialog .modal-body .info-section {
    padding: 50px 70px;
  }
  .modal-custom .modal-dialog .modal-body .info-section .back-btn {
    display: block;
    margin-right: 20px;
  }
  .modal-custom .modal-dialog .modal-body .info-section .back-btn a {
    font-size: 14px;
    color: #fff;
  }
  .modal-custom .modal-dialog .modal-body .info-section .subscribe-plan {
    position: absolute;
    top: 200px;
    left: 0;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body {
    position: relative;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-img {
    height: 120px;
    width: 120px;
    min-width: 120px;
    min-height: 120px;
    margin: 30px auto 150px auto;
    text-align: center;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content {
    padding: 0;
  }
  .modal-custom .modal-dialog .modal-body .info-section .info-body .product-details .product-content .promocode .form-group .form-control {
    max-width: unset;
  }
  .modal-custom .modal-dialog .modal-body .payment-section {
    padding: 50px 70px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 15px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 10px !important;
  }
  .middle-section .home-banner-section::after {
    zoom: 72%;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
  .modal-custom .modal-dialog {
    margin: 20px 20px;
  }
  .modal-custom .modal-dialog .modal-body .info-section {
    padding: 50px 70px;
  }
  .modal-custom .modal-dialog .modal-body .payment-section {
    padding: 50px 70px;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }
  .middle-section .home-banner-section::after {
    zoom: 95%;
  }
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
  .middle-section .home-banner-section .banner-box {
    margin: 0;
  }
  .middle-section .learn-how-section .learn-how-img {
    margin: 0;
  }
  .middle-section .learn-how-section .learn-how-text {
    padding-top: 0;
  }
  .middle-section .what-you-get-section .featuredbox h3 {
    min-height: 64px;
  }
}
/*# sourceMappingURL=custom.css.map */